*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}

.all {
    max-width: 500px;
    margin: 2% auto;
    background-color: #08cff1;
    padding: 2vw;
    border-radius: 16px;
    width: 90%;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
}
h1 {
    font-size: 20px;
}
.all button{
    font-size: 12px;
    color: white;
    padding: 1%;
    border-radius: 30px;
    border: none;
    background-color: rgb(1, 6, 6);
}

.all button:hover{
    background-color:#ffffffd4;
    color: rgb(15, 2, 2);
}

.all input{
    padding: 1%;
    border-radius:10px;
    border: none;
    background-color:#ffffffd4;
}

.all div{
    color: rgb(17, 16, 16);
    font-size: 12px;
    font-weight: 1.3rem;
}

.ten{
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    margin-top: 5px;
    margin-right: -60px;
}


@media (max-width: 600px) {
    .all {
        max-width: 98vw;
        padding: 4vw 2vw;
        border-radius: 8px;
    }
    .all input, .all button {
        width: 100%;
        margin-bottom: 8px;
        font-size: 1em;
    }
    .all div {
        font-size: 1em;
    }
}

